
body{
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#caja {
    text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: beige;
  border: 3px solid blue;
}

table {
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
button {
  width: 57px;
}
#pantalla{

left: 50%;
display:block;
text-align: right;
	font-size: 40px;
  margin-bottom: 10px;
	width:300px;
	height: 40px;
	background-color: white;
  border: 3px solid black;
}

#retr, #ce, #c{
   color: red;
}